# Dependencies
node_modules/
package-lock.json

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Environment
.env
.env.local

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.ipa
*.apk

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
